{% extends 'layout.html'%}

<body>
{% block body %}
	<section class="container menu-hr">
		<div id="menu-hr">
			<ul>
				<li><a href="{{ url_for('add_event') }}">Add Events</a></li>
				<li class="sp">||</li>
				<li><a href="{{ url_for('my_events') }}">My Events</a></li>
				<li class="sp">||</li>
				<li><a href="{{ url_for('profile') }}">Add Profile</a></li>
			</ul>
		</div>
	</section>
	<section id="Content" class="content-table-mode">
		<h1>Joined Events</h1>
		<div class="container table">
			<div class="c">
				<table class="header">
					<tr>
						<th class="c-name">Event Name</th>
						<th class="c-cat">Category</th>
						<th class="c-date">Date</th>
						<th class="c-btn"></th>
					</tr>
				</table>
				<table class="body">
					{% for event in events %}
					<tr>
						<td class="c-name">{{ event.name}}</td>
						<td class="c-cat">{{ event.event_category}}</td>
						<td class="c-date">{{ event.date }}</td>
						{% for attendee in attendees if attendee.event_id == event.event_id %}
							<td class="c-btn"><a href="{{ url_for('disjoin', event_id=event.event_id) }}" class="red-btn"><span>DisJoin</span></a></td>
						{% else %}
							<td class="c-btn"><a href="{{ url_for('join_event', user_id=current_user.user_id, event_id=event.event_id) }}" class="btn"><span>Join</span></a></td>
						{% endfor%}
						</tr>
					{% endfor%}
				</table>
			</div>
		</div>
	</section>
	<footer>
		<p>Friend4Event Copyright 2018-2019</p>
	</footer>
	{% endblock body %}
</body>
</html>
